
@{
    ViewBag.Title = "UserRecord";
}

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">User Record </h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">Name:</div>
                    <div class="col-8">Rajesh</div>
                </div>
            </div>
        </div>
    </div>

