@model LandRegistrationUI.Models.TalukMaster
@{
    ViewBag.Title = "UpdateTaluk";
}

<br />
<div class="container">
    <div class="card">
        <h5 class="card-header">
            Add Taluk
        </h5>
        <div class="card-body">
            @using (Html.BeginForm("UpdateTaluk", "Update", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-1">
                        Taluk Name
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(Model => Model.TalukName, new { @required = "required", @class = "form-control" })
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-1">
                        Select Region
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.RegionID, ViewBag.regionList as IEnumerable<SelectListItem>, "Please Select", new { @class = "btn form-control btn-secondary dropdown-toggle" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-center">
                        <button type="submit" value="Add" class="btn btn-primary"> Add</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


