@model LandRegistrationUI.Models.RevenueVillageMaster
    @{ 
    ViewBag.Title = "UpdateRevenueVillage";
}

<br />
<div class="container">
    <div class="card">
        <h5 class="card-header">
            Add Revenue Village
        </h5>
        <div class="card-body">
            @using (Html.BeginForm("UpdateRevenueVillage", "Update", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row mt-3">
                    <div class="col-md-3">
                        Village Name
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(Model => Model.RevenueVillageName, new { @required = "required", @class = "form-control" })
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        Select Taluk
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TalukID, ViewBag.regionList as IEnumerable<SelectListItem>, "Please Select", new { @class = "btn form-control btn-secondary dropdown-toggle" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-7">
                        <div class="text-left" style="padding-bottom:10px">
                            <label>
                                @Html.CheckBoxFor(Model => Model.IsWard, new { @class = "IsSelected" }) <span style="padding-left:5px"><b>Check if it is Ward</b></span>
                            </label>
                            
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5 text-center">
                        <button type="submit" value="Add" class="btn btn-primary"> Add</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>