@model LandRegistrationUI.Models.WardMaster
@{
    ViewBag.Title = "UpdateWard";
}

<br />
<div class="container">
    <div class="card">
        <h5 class="card-header">
            Add Ward
        </h5>
        <div class="card-body">
            @using (Html.BeginForm("UpdateWard", "Update", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row mt-3">
                    <div class="col-md-3">
                        Ward Name
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(Model => Model.WardName, new { @required = "required", @class = "form-control" })
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        Select Village
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.RevenueVillageID, ViewBag.regionList as IEnumerable<SelectListItem>, "Please Select", new { @class = "btn form-control btn-secondary dropdown-toggle" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-7 text-center">
                        <button type="submit" value="Add" class="btn btn-primary"> Add</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


